<?xml version="1.0"?>
<ruleset name="HTTP/2 Server Push">
	<description>Coding Standard for the "HTTP/2 Server Push" plugin.</description>

	<file>.</file>

	<rule ref="Required"/>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="h2push"/>
			</property>
		</properties>
	</rule>

	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array">
				<element value="Required\H2Push"/>
			</property>
		</properties>
	</rule>

	<rule ref="PSR1.Files.SideEffects.FoundWithSymbols">
		<exclude-pattern>h2push\.php</exclude-pattern>
	</rule>

	<exclude-pattern>/tests/*</exclude-pattern>
</ruleset>
